.mauDo {
    font-size: 100%;
    color: red;
}

[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

li {
    width: 150px;
}
.modal-header .close {
    margin-left: auto; 
    margin-top: -10px; 
}